
/* @import url('https://fonts.googleapis.com/css?family=Roboto');



.font style {
 
    display: flex;
    flex: 1;
    justify-content: flex-end;
    font-family: 'Poiret One', cursive;
    opacity: .5;
    font-weight: bolder;
  
}

.traspBackground{
    background-color: #658327;
    opacity: 0.8;
    color: white;
    padding: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
    font-size: 18px;
    
} */

/* .background {
    height: 100vh;
    width: 100%;
    background: url(../Assets/flowers.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title {
    padding: 10px;
    width: 200px;
    height: 200px;
    text-align: justify;  
}

.Header-text {
    margin-top: 100px;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.summary {
    color: black;    
    font-size: 20px;
    text-align:  center;
    font-family: 'Roboto', sans-serif;
    padding: 0 60px;
    line-height: 1.6;
} */