ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(125, 31, 201);
}

.Header-text {
    margin-top: 100px;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.summary {
    color: black;    
    font-size: 20px;
    text-align:  center;
    font-family: 'Roboto', sans-serif;
    padding: 0 60px;
    line-height: 1.6;
}